<label class="btn-primary" ngbButtonLabel (click)="getRandomWorkout()">Get random workout</label>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Workout Type</th>
    <th scope="col">Reps/Sets</th>
    <th scope="col">Series count</th>
    <th scope="col">Series Duration</th>
    <th scope="col">Total Reps</th>
    <th scope="col">Swing Type</th>
    <th scope="col">Pushup Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let workout of workouts; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ workout.workoutType }}</td>
    <td>{{ workout.repsSets }}</td>
    <td>{{ workout.numberOfSets | number }}</td>
    <td>{{ workout.totalDuration }}</td>
    <td>{{ workout.totalReps }}</td>
    <td>{{ workout.swingType  }}</td>
    <td>{{ workout.pushupType }}</td>
  </tr>
  </tbody>
</table>
